:root{
  --nav: #f8f9fa;
  --search: #e5e5e5;
  --bell: #ff8f00;
  --boolean: #1b72e8;
  --options: #165bba;
  --sidebar_bg: #0d253a;
  --sidebar_slide: #051e34;
  --classe: #f26551;
  --done: #198754;
  --process: #ffc107;
  --failed: #dc3545;
  --link: #0d6efd;
}

body{
  font-family: 'Lato', sans-serif;
}

body, html {
  height: 100%;
}

header .navbar{
  height: 70px;
  background-color: var(--nav) !important;
}

.navbar .container-fluid{
  background-color: white;
}

.container-fluid img:last-child{
  height: 45px;
}

.form-control{
  background-color: var(--search);
  width: 70%;
}

/* main */
.wrapper{
  display: flex;
}

main{
  height: calc(100vh - 140px);
  overflow: auto;
  height: 100%;
}

.sidebar{
  background-color: var(--sidebar_bg);
  width: 150px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.boolean {
  background-color: var(--boolean);
  height: 125px;
  width: 100%;
}

li a{
  color: white;
  text-decoration: none;
}

.sidebar ul {
  list-style-type:none;
}

ol, ul {
  padding-left: 25px;
}

.elements h1{
  font-size: 2rem;
}

.btn.active{
  height: 40px;
  width: 40px;
  color: white;
  margin-right: 100px;
  align-items: center;
  justify-content: center;
}

.plus{
  font-size: 25px
}

@media screen and (max-width: 768px) {
  .sidebar{
    width: 70px;
  }

  .sidebar span{
    display: none;
  }
}