:root{
  --nav: #f8f9fa;
  --search: #e5e5e5;
  --icons: #5b5858;
  --bell: #ff8f00;
  --boolean: #1b72e8;
  --options: #165bba;
  --sidebar_bg: #0d253a;
  --sidebar_slide: #051e34;
  --classe: #f26551;
  --done: #198754;
  --process: #ffc107;
  --failed: #dc3545;
  --link: #0d6efd;
  --spanbg: #165bba;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: var(--nav);
}

body, html {
  height: 100%;
}

.ac_container{
  width: 100%;
  margin: 0 auto;
}

.debug{
  background-color: red;
  min-height: 50px;
  border: 1px black solid;
}

/*  */
header .navbar{
  height: 70px;
  background-color: var(--nav) !important;
}

.navbar .container-fluid{
  background-color: white;
}

.container-fluid img:last-child{
  height: 45px;
}

.form-control{
  background-color: var(--search);
  width: 70%;
}

.icons a{
  text-decoration: none;
}

.icons i{
  color: var(--icons);
}

.fa-bell:before {
  color: var(--bell);
}

.navbar .search{
  flex-grow: 2;
}

.navbar input{
  width: 100%;
}

/* main */
.wrapper{
  display: flex;
  height: 100%;
}

main{
  height: calc(100vh - 70px);
  overflow-y: auto;
}

/* sidebar */
.sidebar{
  background-color: var(--sidebar_bg);
  width: 70px;
}

li a{
  color: white;
  text-decoration: none;
}

ol, ul {
  padding-left: 1.5rem;
}

.sidebar ul {
  list-style-type:none;
}
/* /sidebar */

/* boolean */
.boolean{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.boolean .ac_container  {
  background-color: var(--boolean);
  height: 265px;
}

.boolean .btn-outline{
  color: white;
  border-color: white;
  width: 40px;
}

.boolean h1{
  font-size: 2rem;
}

.boolean h1{
  font-size: 1.7rem;
}

.my_span{
  background-color: var(--spanbg);
  padding: 3px 10px;
  border-radius: 15px;
}

.my_span:hover{
  background-color: #0a3879;
}

.raquo{
  font-size: 1.5rem;
}

p.students{
  margin-bottom: 10px;
}

.my_font_size{
  font-size: 15px;
}

.number{
  font-size: 1.5rem;
}

.boolean .row:last-child{
  margin-top: 5%;
}

.ac_border{
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background-color: white;
  padding: 1.5rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.title_border{
  border: 1px solid lightgray;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: var(--nav);
}

.container-fluid img:last-child{
  height: 30px;
  width: 30px;
}

.my_td{
  width: 120px;
  text-align: center;
}

.btn-outline-secondary{
  height: 30px;
  width: 30px;
}

.fa-solid, .fas {
  top: 6px;
  right: 5px;
}

.table td,
.table th {
  font-size: 12px
}

.cell{
  width: 115px;
}

.border_list{
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .boolean .ac_container {
    height: 140px;
  }

  .students_width{
    width: 90%;
  }

  .table th{
    width: 0%;
  }

  .cell{
    width: 160px;
  }
}

@media screen and (min-width: 1200px){
  .sidebar{
    width: 150px;
  }
}